body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #282c34;
    position: relative; /* Adicionado para suportar o fundo */
    overflow: hidden; /* Para evitar rolagem com o fundo */
}

.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.night {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    z-index: -1; /* Para ficar atrás do conteúdo */
}

a {
    text-decoration: none;
}

.caixa {
    font-size: 20px;
    color: white;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    background: #0c0e16;
    opacity: calc(0.8 + 0.2 * 0.5);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

botao {
    height: 35px;
    width: 90px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

botao a {
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
}

botao:first-child {
    background: green;
}

#nao {
    background: red;
    color: white;
}

.msg {
   text-align: center;
}

.shooting_star {
    position: absolute;
    width: 2px;
    height: 100px;
    background: linear-gradient(white, transparent);
    opacity: 0;
    transform: rotateZ(45deg);
    animation: shooting 2s ease-in-out infinite;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
}

@keyframes shooting {
    0% {
        opacity: 1;
        transform: translateX(0) translateY(0) rotateZ(45deg);
    }
    100% {
        opacity: 0;
        transform: translateX(-200px) translateY(200px) rotateZ(45deg);
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
}